@model List<HotelAbshar.Domain.Entities.Discount.HotelDiscount> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using HotelAbshar.Common.Convertors
@inject HotelAbshar.Application.Interfaces.IHotelService _hotelService
<section id="buttons-addons">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-info">
                        <h4 class="card-title">جستجو</h4>
                    </div>

                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">

                            <form asp-action="Index">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" id="filterRole" name="filter" value="@ViewBag.filter" placeholder="جستجو نقش ...">
                                        <div class="input-group-append">

                                            <input type="submit" value="برو!" class="btn btn-primary" />
                                        </div>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </form>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="simple-table">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">کد ها </h4>
                        <a class="btn btn-success" href="/Admin/HotelDiscount/Add">افزودن کد</a>
                    </div>

                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th>کد</th>
                                    <th>درصد</th>
                                    <th>تعداد</th>
                                    <th>شروع</th>
                                    <th>پایان</th>
                                    <th>هتل</th>
                                    <th>گروه</th>
                                    <th>دستورات</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>@item.DiscountCode</td>
                                    <td>@item.DiscountPercent</td>
                                    <td>@item.UsableCount</td>
                                    <td>@((item.StartDate != null) ? item.StartDate.Value.ToShamsi():"")  </td>
                                    <td>@((item.EndDate != null) ? item.EndDate.Value.ToShamsi():"")  </td>
                                    @if (item.HotelID != null)
                                    {
                                        <td>@_hotelService.GetHotelByID(item.HotelID.Value).HotelName  </td>
                                    }
                                    else {<td></td> }

                                    <td>@item.DiscountFor</td>
                                    <td>

                                        <a class="btn btn-danger" onclick="DeleteCode(@item.HotelDiscountID)">حذف</a>
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
   function DeleteCode (discountId) {


        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete")",
            data: { DiscountID: discountId },
            dataType: "text",
            success: function (msg) {
                console.log(msg);

            },
            error: function (req, status, error) {
                console.log(msg);
            }
        }).then(function (isConfirm) {
            location.reload();
        });
        };

       
    </script>
}

